<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <link rel="stylesheet" href="./dist/semantic.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
  <title>Article</title>
</head>
<body>

<h3 style="display:inline;">Article {{article.id}} Details</h3><div id="edit-details-button"><button class="tiny ui button" onclick="window.location.href='/articles/{{article.id}}/edit'"><i class="edit icon"></i>Edit Article</button></div>

<div class="ui success message" style="display:none;">
  <i class="close icon" id="close-success-message"></i>
  <div class="header">
    Your article was successfully edited.
  </div>
  <p>Enjoy reading!</p>
</div>


<table class="ui celled table">
  <thead>
    <tr><th colspan="2">
      Folders
    </th>
  </tr>
</thead>
  <tbody>
    {{#each folders}}
    <tr>
      <td class="collapsing">
        <i class="folder icon"></i> {{this.name}}
      </td>
      <td>
        <form method="POST" action="/deletearticle/{{../article.id}}/delete/{{this.id}}?_method=DELETE">
        <button class="ui tiny button"><i class="trash icon"></i>Remove</button>
      </form>
    </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<table class="ui celled striped table">
  <thead>
    <tr><th colspan="2">
      Details
    </th>
  </tr>
</thead>
  <tbody>
    <tr>
      <td class="collapsing">
        <i class="text file outline icon"></i> Article ID
      </td>
      <td>{{article.id}}</td>
    </tr>
    <tr>
      <td>
        <i class="chain icon"></i> URL</td>
      <td>{{article.url}}</td>
    </tr>
    <tr>
      <td>
        <i class="pencil icon"></i> Summary
      </td>
      <td>{{article.summary}}</td>
    </tr>
  </tbody>
</table>

<script>
{{#if edit_success}}
$('.success.message').show();
$('#close-success-message').click(function() {
  $('.success.message').hide();
});
{{/if}}
</script>

</body>
</html>
