<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
  <title>Article</title>
</head>
<body>
  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">My Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">My Work</a>
      </li>
      <li><form id="logout-button" method="POST" action="/users/logout">
        <button>Log Out</button>
      </form>
    </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<h2>Article {{article.id}} Details</h2>
  <ul class="article-list">
    <li class="article-attribute">
      id: {{article.id}}
    </li>
    <li class="article-attribute">
      user_id: {{article.user_id}}
    </li>
    <li class="article-attribute">
      title: {{article.title}}
    </li>
    <li class="article-attribute">
      url: {{article.url}}
    </li>
    <li class="article-attribute">
      summary: {{article.summary}}
    </li>
  </ul>
  <a href="{{article.id}}/edit">Edit Article</a>
</body>
</html>
