<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- css stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/articles.css">

  <!-- <link rel="stylesheet" href="./dist/semantic.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
  <title>Home Page</title>
</head>
<body>

  <div class="ui menu">
  <div class="header item">
    App Name
  </div>
  <a href="/" class="item">
    Home
  </a>
  <a href="/articles" class="item">
    My Articles
  </a>
  <a href="/" class="item">
    My Work
  </a>
  <div class="item">
  <div class="ui button" id="add-article-button"><i class="add icon"></i>Add Article</div>
  </div>
  <form id="logout-button" method="POST" action="/users/logout" class="right floated item">
    <button class="ui button">Log Out</button>
  </form>
</div>

<h1>Here are all your articles, {{username}}!</h1>

<!-- ADD ARTICLE -->
<div class="ui longer modal add-article">
  <i class="close icon"></i>
  <div class="header">
    Add Article
  </div>
  <div class="scrolling content">
    <div id="add-article" class="ui embed" data-url="articles/new">
    </div>
  </div>
  <div class="actions">
    <button id="add-close-button" class="ui button">OK</button>
  </div>
</div>

<script>
$(function(){
  $("#add-article-button").click(function(){
    $('#add-article').embed();
    $(".add-article").modal('show');
  });
  $("#add-close-button").click(function(){
    $(".add-article").modal('hide');
    location.reload();
  });
  $(".add-article").modal({
    closable: true
  });
});
</script>

<div class="ui centered grid">
<div class="ui large breadcrumb">
  <a class="section" href="/">Home</a>
  <span class="divider">/</span>
  <a class="section" href="/articles">All Articles</a>
  <span class="divider">/</span>

  <div class="section ui simple dropdown">
  <div class="text" id="folders-dropdown">All Folders<i class="dropdown icon"></i></div>
  <div class="menu">
    {{#each folders}}
    <div id="{{this.id}}" class="item folder-button">
      <i class="folder icon"></i>
      {{this.name}}
    </div>

    {{/each}}
    <div class="item">
      <i class="add icon"></i>
      Add Folder
    </div>
  </div>
</div>

<script>
$('#folders-dropdown').click(function() {
  $('.section.ui.active.dropdown').dropdown('show');
});

</script>

</div>
</div>

  <div id="article-grid" class="three column stackable ui grid">

    {{#each articles}}
    <div id="article-{{this.id}}-box" class="article-box column">
      <div class="ui segment">
        <div class="header item">
            <b>{{this.title}}</b>
        </div>
        <p>Hello</p>
        <button id="original-button-{{this.id}}" class="ui small compact button"><i class="desktop icon"></i>Original</button>
        <button id="summary-button-{{this.id}}" class="ui small compact button"><i class="browser icon"></i>Summary</button>
        <button id="edit-button-{{this.id}}" class="ui edit small compact button"><i class="edit icon"></i>Edit</button>
      </div>
    </div>

    <!-- ORIGINAL -->
    <div class="ui longer large modal original-modal-{{this.id}}">
      <i class="close icon"></i>
      <div class="header">
        {{this.title}}
      </div>
      <div class="scrolling content">
        <div id="web-page-{{this.id}}" class="ui embed" data-url="{{this.url}}">
        </div>
      </div>
      <div class="actions">
        <button id="original-close-button-{{this.id}}" class="ui button">OK</button>
      </div>
    </div>

    <!-- SUMMARY -->
    <div class="ui longer large modal summary-modal-{{this.id}}">
      <i class="close icon"></i>
      <div class="header">
        {{this.title}}
      </div>
      <div class="scrolling content">
        <p>{{this.summary}}</p>
      </div>
      <div class="actions">
        <button id="summary-close-button-{{this.id}}" class="ui button">OK</button>
      </div>
    </div>

    <!-- DETAILS -->
    <div class="ui longer large modal edit-modal-{{this.id}}">
      <i class="close icon"></i>
      <div class="header">
        {{this.title}}
      </div>
      <div class="scrolling content">
        <div id="edit-article-{{this.id}}" class="ui embed" data-url="articles/{{this.id}}/edit">
        </div>
      </div>
      <div class="actions">
        <button id="edit-close-button-{{this.id}}" class="ui button">OK</button>
      </div>
    </div>

    <script>
    $(function(){

      $("#original-button-{{this.id}}").click(function(){
        $('#web-page-{{this.id}}').embed();
        $(".original-modal-{{this.id}}").modal('show');
      });
      $("#original-close-button-{{this.id}}").click(function(){
        $(".original-modal-{{this.id}}").modal('hide');
        location.reload();
      });
      $(".original-modal-{{this.id}}").modal({
        closable: true
      });

      $("#summary-button-{{this.id}}").click(function(){
        $(".summary-modal-{{this.id}}").modal('show');
      });
      $("#summary-close-button-{{this.id}}").click(function(){
        $(".summary-modal-{{this.id}}").modal('hide');
        location.reload();
      });
      $(".summary-modal-{{this.id}}").modal({
        closable: true
      });

      $("#edit-button-{{this.id}}").click(function(){
        $('#edit-article-{{this.id}}').embed();
        $(".edit-modal-{{this.id}}").modal('show');
      });
      $("#edit-close-button-{{this.id}}").click(function(){
        $(".edit-modal-{{this.id}}").modal('hide');
        location.reload();
      });
      $(".edit-modal-{{this.id}}").modal({
        closable: true
      });
    });

    </script>
    {{/each}}

  </div>

<script>

$('.folder-button').click(function() {
  // first clear all boxes
  $('.article-box').css('display', 'none');
  // get folder id
  var id = $(this).attr('id');
  // then display articles belonging to folder
  {{#each folder_articles}}
  if ({{this.folder_id}} == id) { // target folder
    $.each([{{this.articles}}], function( index, value ) {
      let article_entry_id = '#article-' + value + '-box';
      $(article_entry_id).css('display', '');
    });
  }
  {{/each}}
});
</script>

</body>
</html>
