<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">

  <title>Article</title>
</head>
<body>

  <div id="edit-article-container">
  <h2>Editing: Article {{article.id}}</h2>

<div style="display:inline">
<form class="ui form article-form" method="POST" action="/articles/{{article.id}}/edit?_method=PUT">
  <div class="ui small top attached fluid multiple search selection dropdown">
    <input type="hidden" name="folders">
    <i class="dropdown icon"></i>
    <div class="default text"><i class="folder icon"></i>Add to folder(s)</div>
    <div id="add-to-folder-menu" class="menu inline">
      {{#each folders}}
      <input type="hidden" name="name" value="{{this.name}}">
      <input type="hidden" name="id" value="{{this.id}}">
      <div class="item" name="name" value="{{this.id}}">
        <i class="folder icon"></i>{{this.name}}</div>
      {{/each}}
    </div>
  </div>
  <h6 class="ui horizontal divider header">
    <i class="tag icon"></i>
    Details
  </h6>
</br>

  <div class="two fields">
  <div class="field">
    <label>Article Title</label>
    <input name="title" type="text" value="{{article.title}}"/>
  </div>
  <div class="field">
    <label>URL</label>
    <input name="url" type="text" value="{{article.url}}"/>
  </div>
</div>

  <div class="field textarea">
    <label>Summary</label>
    <textarea onkeyup="textAreaAdjust(this)" name="summary" type="text" placeholder="No summary available">{{article.summary}}</textarea>
  </div>
  <button class="ui button" type="submit">Submit</button>
</form>
</div>

<div style="display: inline">
<form method="POST" action="/articles/{{article.id}}?_method=DELETE">
  <button class="ui button"><i class="trash icon"></i>Delete Article</button>
</form>
</div>
</div>

<div class="ui success message" style="display:none;">
  <i class="close icon" id="close-success-message"></i>
  <div class="header">
    Your article was successfully deleted.
  </div>
  <p>Enjoy reading!</p>
</div>

  <script>
  $('.ui.dropdown')
  .dropdown();

  {{#if delete_success}}
  $('#edit-article-container').hide();
  $('.success.message').show();
  $('#close-success-message').click(function() {
    $('.success.message').hide();
  });
  {{/if}}

  </script>

</body>
</html>
