<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <link rel="stylesheet" href="./dist/semantic.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">

  <title>Article</title>
</head>
<body>
  <h2>Editing: Article {{article.id}}</h2>

  <form class="ui form article-form" method="POST" action="/articles/{{article.id}}/edit?_method=PUT">
      <div class="eight wide field">
        <label>Article Title</label>
        <input name="title" type="text" value="{{article.title}}"/>
      </div>
      <div class="ten wide field">
        <label>URL</label>
        <input name="url" type="text" value="{{article.url}}"/>
      </div>
      <div class="field">
        <label>Summary</label>
        <textarea name="summary" type="text" placeholder="No summary available">{{article.summary}}</textarea>
      </div>
    <button class="ui button" type="submit">Submit</button>
  </form>
  <form method="POST" action="/articles/{{article.id}}?_method=DELETE">
  <button class="ui button"><i class="trash icon"></i>Delete Article</button></form>

</body>
</html>
