<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
  <title>Article</title>
</head>
<body>

<h3 style="display:inline;">Writing Entry {{writing_piece.id}} Details</h3><div id="edit-details-button"><button class="tiny ui button" onclick="window.location.href='/writing_pieces/{{writing_piece.id}}/edit'"><i class="edit icon"></i>Edit Entry</button></div>

<div class="ui success message" style="display:none;">
  <i class="close icon" id="close-success-message"></i>
  <div class="header">
    Your writing entry was successfully edited.
  </div>
  <p>Enjoy reading!</p>
</div>

<table class="ui celled sortable table">
  <thead>
    <tr><th colspan="2">
      <div class="item folder-label" style="margin-right:5px;">
        Folders
      </div>
      <div class="folder-label"><a class="ui yellow circular label">{{numFolders}}</a></div>
    </th>
  </tr>
</thead>
  <tbody>
    {{#if noFolders}}
    <td colspan="2">
      Writing Entry {{writing_piece.id}} currently does not belong to any folders.
    </td>
    {{/if}}
    {{#each folders}}
    <tr>
      <td class="collapsing">
        <i class="folder icon"></i> {{this.name}}
      </td>
      <td>
        <form method="POST" action="/deletewriting/{{../writing_piece.id}}/delete/{{this.id}}?_method=DELETE">
          <button class="ui tiny button"><i class="trash icon"></i>Remove</button>
        </form>
    </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<table class="ui celled striped table">
  <thead>
    <tr><th colspan="2">
      Details
    </th>
  </tr>
</thead>
  <tbody>
    <tr>
      <td class="collapsing">
        <i class="text file outline icon"></i> Writing Entry ID
      </td>
      <td>{{writing_piece.id}}</td>
    </tr>
    <tr>
      <td>
        <i class="book icon"></i> Original
      </td>
      <td>{{writing_piece.original}}</td>
    </tr>
    <tr>
      <td>
        <i class="pencil icon"></i> Summary
      </td>
      <td>{{writing_piece.summary}}</td>
    </tr>
  </tbody>
</table>

<script>
{{#if edit_success}}
$('.success.message').show();
$('#close-success-message').click(function() {
  $('.success.message').hide();
});
{{/if}}
</script>

</body>
</html>
