<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
  <title>Folder</title>
</head>
<body>

<h2>Folder {{folder.id}} Details</h2><button id="edit-button-{{folder.id}}" class="ui labeled icon button" onclick="window.location.href='/folders/{{folder.id}}/edit'"><i class="edit icon"></i>Edit Folder</button>

<table class="ui celled table">
  <thead>
    <tr><th colspan="2">
      Articles
    </th>
  </tr>
</thead>
  <tbody>
    {{#each articles}}
    <tr>
      <td class="collapsing">
        <i class="text file outline icon"></i> {{this.title}}
      </td>
      <td>Initial commit</td>
    </tr>
    {{/each}}
  </tbody>
</table>

<table class="ui celled table">
  <thead>
    <tr><th colspan="2">
      Writing Entries
    </th>
  </tr>
</thead>
  <tbody>
    {{#each writing_pieces}}
    <tr>
      <td class="collapsing">
        <i class="book icon"></i> {{this.title}}
      </td>
      <td>Initial commit</td>
    </tr>
    {{/each}}
  </tbody>
</table>

<div class="ui success message" style="display:none;">
  <i class="close icon" id="close-success-message"></i>
  <div class="header">
    Your folder was successfully edited.
  </div>
  <p>Enjoy reading!</p>
</div>

</body>

<script>

{{#if edit_success}}
$('#edit-article-container').hide();
$('.success.message').show();
$('#close-success-message').click(function() {
  $('.success.message').hide();
});
{{/if}}

</script>

</html>
