<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
  <title>Folder</title>
</head>
<body>

<button id="edit-button-{{folder.id}}" class="ui labeled icon button" onclick="window.location.href='/folders/{{folder.id}}/edit'"><i class="edit icon"></i>Edit Folder</button>

<table class="ui celled sortable table">
  <thead>
    <tr><th colspan="2">
      <div class="item article-label" style="margin-right:5px;">
        Articles
      </div>
      <div class="article-label"><a class="ui green circular label">{{numArticles}}</a></div>
    </th>
  </tr>
</thead>
  <tbody>
    {{#if noArticles}}
    <tr>
      <td colspan="2">
        There are currently no articles in Folder {{folder.id}}.
      </td>
    </tr>
    {{/if}}
    {{#each articles}}
    <tr>
      <td class="collapsing">
        <i class="text file outline icon"></i> Article {{this.id}}
      </td>
      <td>{{this.title}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

<table class="ui celled sortable table">
  <thead>
    <tr><th colspan="2">
      <div class="item writing-label" style="margin-right:5px;">
        Writing Entries
      </div>
      <div class="writing-label"><a class="ui orange circular label">{{numWriting}}</a></div>
    </th>
  </tr>
</thead>
  <tbody>
    {{#if noWriting}}
    <tr>
      <td colspan="2">
        There are currently no writing entries in Folder {{folder.id}}.
      </td>
    </tr>
    {{/if}}
    {{#each writing_pieces}}
    <tr>
      <td class="collapsing">
        <i class="book icon"></i> Article {{this.id}}
      </td>
      <td>{{this.title}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

<div class="ui success message" style="display:none;">
  <i class="close icon" id="close-success-message"></i>
  <div class="header">
    Your folder was successfully edited.
  </div>
  <p>Enjoy reading!</p>
</div>

</body>

<script>

{{#if edit_success}}
$('#edit-article-container').hide();
$('.success.message').show();
$('#close-success-message').click(function() {
  $('.success.message').hide();
});
{{/if}}

</script>

</html>
